$break-small: 576px
$break-medium: 768px
$break-large: 992px
$break-xlarge: 1200px
$primary-color: #ff7743
$secondary-color: #0f0870
$text-color: #f4f4f4 
$text-inverse: #333 

*, *::before, *::after
    box-sizing: border-box

body
    margin: 0
    padding: 0
    font-family: 'Montserrat', sans-serif
    p, span
        font-family: 'Raleway', sans-serif
        line-height: 2

// Header and Navigation
header
    width: 100%
    position: absolute
    padding: 1rem 0
    background-color: transparent
    ::after
        clear: both
        content: ""
    img
        float: left
        width: auto
        max-height: 80px
    .container
        position: relative
        width: 80%

.main-nav
    position: absolute
    background: #fff 
    top: 100%
    right: 0
    clip-path: circle(0px at top right)
    transition: clip-path ease-in-out 500ms
    ul
        margin: 20px 0
        padding: 0
        list-style: none 
    li
        border-bottom: 1px solid #e8e8e8
    a
        text-transform: uppercase
        display: block
        padding: 1.5em 5em
.main-nav--open
    clip-path: circle(100%)
    
.menu-toggle
    background: blue 
    padding: 1em
    position: absolute
    top: 1em
    right: 1em
    cursor: pointer

.hamburger, .hamburger::before, .hamburger::after
    content: ""
    display: block
    background: #ffffff
    height: 3px
    width: 2rem
    border-radius: 3px
    transition: all ease-in-out 500ms

.hamburger::before
    transform: translateY(-7px)

.hamburger::after
    transform: translateY(4px)

.close-menu .hamburger
    transform: rotate(45deg)
.close-menu .hamburger::before
    opacity: 0
.close-menu .hamburger::after
    transform: translateY(-3px) rotate(-90deg)


@media screen and (min-width: $break-medium)
    header 
        position: fixed
        transition: all 250ms ease-in
    .scrolled
        background: $secondary-color
        z-index: 99
        box-shadow: 0 3px 20px rgba(#333, 0.3)
    .menu-toggle
        display: none
    .main-nav
        clip-path: inherit
        position: relative
        float: right
        background: transparent
        li
            display: inline-block
            border: 0
            margin: 0
            a
                padding: 0
                color: #fff
                font-weight: 600
            a:hover
                text-decoration: none
                color: $primary-color
        li:last-child
            background: $primary-color
        li:last-child:hover
            background: #fff
            color: $primary-color

// Home Hero
.hero-section
    margin: 0
    padding: 200px 0
    background-image: url("assets/hero-bgg.png")
    background-size: cover
    background-position: center
    width: 100%
    height: 600px

.hero-title
    color: #fff 
    text-align: center
    font-size: 60px
    font-weight: 600

.line-break
    height: 3px
    width: 5rem
    background-color: $primary-color

.line-break-center
    margin: 5px auto

// Home Description
.description
    padding: 20px 0
    .line-break
        margin: 10px 0

.description-title
    margin: 20px 0

.jumbotron
    background-image: url("assets/jumbotron1.png")
    border-radius: 0
    padding: 2rem
    color: #fff
    font-size: 22px
    margin-bottom: 0px
    .col-md-3
        margin: auto
        padding-left: 100px

.btn-accent
    color: #fff!important
    text-transform: uppercase
    background-color: $primary-color
    border-color: $primary-color
.btn-accent:hover
    color: #fff!important
    background-color: #e86634
    border-color: #e86634

// Services Section
.services
    margin: 2rem 0
    .line-break
        margin-bottom: 2rem
    h2
        text-align: center
        font-weight: 600
    h4
        text-transform: uppercase
        text-align: center
        margin-top: 10px

// Footer
footer 
    background: $secondary-color
    text-align: center
    padding: 2rem 0
    .social-icons
        list-style: none
        padding: 0
        margin: 20px 0 10px 0
        a
            color: $primary-color
            background-color: $secondary-color
            display: table-cell
            vertical-align: middle
            height: 40px
            width: 40px
        a:hover
            color: $secondary-color
            background-color: $primary-color
    li 
        display: inline-block
        padding: 0 5px
    .footer-info
        margin: 10px 0 0 0
        color: #fff 
        a
            color: $primary-color
    .footer-info a:hover
        text-decoration: none
    .line-break
        width: 80%
