*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
body p, body span {
  font-family: "Raleway", sans-serif;
  line-height: 2;
}

header {
  width: 100%;
  position: absolute;
  padding: 1rem 0;
  background-color: transparent;
}
header ::after {
  clear: both;
  content: "";
}
header img {
  float: left;
  width: auto;
  max-height: 80px;
}
header .container {
  position: relative;
  width: 80%;
}

.main-nav {
  position: absolute;
  background: #fff;
  top: 100%;
  right: 0;
  clip-path: circle(0px at top right);
  transition: clip-path ease-in-out 500ms;
}
.main-nav ul {
  margin: 20px 0;
  padding: 0;
  list-style: none;
}
.main-nav li {
  border-bottom: 1px solid #e8e8e8;
}
.main-nav a {
  text-transform: uppercase;
  display: block;
  padding: 1.5em 5em;
}

.main-nav--open {
  clip-path: circle(100%);
}

.menu-toggle {
  background: blue;
  padding: 1em;
  position: absolute;
  top: 1em;
  right: 1em;
  cursor: pointer;
}

.hamburger, .hamburger::before, .hamburger::after {
  content: "";
  display: block;
  background: #ffffff;
  height: 3px;
  width: 2rem;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
}

.hamburger::before {
  transform: translateY(-7px);
}

.hamburger::after {
  transform: translateY(4px);
}

.close-menu .hamburger {
  transform: rotate(45deg);
}

.close-menu .hamburger::before {
  opacity: 0;
}

.close-menu .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}

@media screen and (min-width: 768px) {
  header {
    position: fixed;
    transition: all 250ms ease-in;
  }

  .scrolled {
    background: #0f0870;
    z-index: 99;
    box-shadow: 0 3px 20px rgba(51, 51, 51, 0.3);
  }

  .menu-toggle {
    display: none;
  }

  .main-nav {
    clip-path: inherit;
    position: relative;
    float: right;
    background: transparent;
  }
  .main-nav li {
    display: inline-block;
    border: 0;
    margin: 0;
  }
  .main-nav li a {
    padding: 0;
    color: #fff;
    font-weight: 600;
  }
  .main-nav li a:hover {
    text-decoration: none;
    color: #ff7743;
  }
  .main-nav li:last-child {
    background: #ff7743;
  }
  .main-nav li:last-child:hover {
    background: #fff;
    color: #ff7743;
  }
}
.hero-section {
  margin: 0;
  padding: 200px 0;
  background-image: url("assets/hero-bgg.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 600px;
}

.hero-title {
  color: #fff;
  text-align: center;
  font-size: 60px;
  font-weight: 600;
}

.line-break {
  height: 3px;
  width: 5rem;
  background-color: #ff7743;
}

.line-break-center {
  margin: 5px auto;
}

.description {
  padding: 20px 0;
}
.description .line-break {
  margin: 10px 0;
}

.description-title {
  margin: 20px 0;
}

.jumbotron {
  background-image: url("assets/jumbotron1.png");
  border-radius: 0;
  padding: 2rem;
  color: #fff;
  font-size: 22px;
  margin-bottom: 0px;
}
.jumbotron .col-md-3 {
  margin: auto;
  padding-left: 100px;
}

.btn-accent {
  color: #fff !important;
  text-transform: uppercase;
  background-color: #ff7743;
  border-color: #ff7743;
}

.btn-accent:hover {
  color: #fff !important;
  background-color: #e86634;
  border-color: #e86634;
}

.services {
  margin: 2rem 0;
}
.services .line-break {
  margin-bottom: 2rem;
}
.services h2 {
  text-align: center;
  font-weight: 600;
}
.services h4 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
}

footer {
  background: #0f0870;
  text-align: center;
  padding: 2rem 0;
}
footer .social-icons {
  list-style: none;
  padding: 0;
  margin: 20px 0 10px 0;
}
footer .social-icons a {
  color: #ff7743;
  background-color: #0f0870;
  display: table-cell;
  vertical-align: middle;
  height: 40px;
  width: 40px;
}
footer .social-icons a:hover {
  color: #0f0870;
  background-color: #ff7743;
}
footer li {
  display: inline-block;
  padding: 0 5px;
}
footer .footer-info {
  margin: 10px 0 0 0;
  color: #fff;
}
footer .footer-info a {
  color: #ff7743;
}
footer .footer-info a:hover {
  text-decoration: none;
}
footer .line-break {
  width: 80%;
}

/*# sourceMappingURL=main.css.map */
